<h1>Create a new recipe</h1>
<form method="post" action="/recipes">

<label for="title">Recipe Name:</label>
  <input type="text" id="recipe_name" name="name"><br><br><br>
<label for="content">Ingredients:</label>
  <textarea id="ingredients" name="ingredients"> 
  </textarea> <br><br><br>
  <label for="content">Cook Time:</label>
  <input type="text" id="cook_time" name="cook_time">
  <br><br><input type="submit" id="Submit">
  </form>